<div class="container--large {% unless section.settings.remove_margin %} container--vertical-space {% endunless %} {% if section.settings.section_background_color != "rgba(0,0,0,0)" %} container--has-background {% endif %} remove-empty-space">
  {%- render 'section-heading', heading: section.settings.heading, subheading: section.settings.subheading, heading_tag: section.settings.seo_h_tag, layout: section.settings.section_heading_layout -%}
  <div>
    <div class="displayflex-subscription newcustomfilter">
      <div class="frequentlyflex">
        <div class="seconfsection">
          <span class="seconfsectiontext">1</span>
        </div>
        <div class="filterlabelmain">
          <div class="filterlabel">{{ section.settings.widgetheading }}</div>
        </div>
      </div>
      <div class="subscriptwidth">
        {% if section.settings.widgetlabel1 != blank %}
            <div class="subscriptionlabel active" data-value="{{ section.settings.widgetlabel1 | downcase }}">
            <div class="subscribename subscriptionOption">
                {{ section.settings.widgetlabel1 }}
                {% if section.settings.widgetext1 != blank %} <span>{{ section.settings.widgetext1 }}</span>{% endif %}
            </div>
            <div class="disflex justify-between">
                <div class="distext">
                <ul>
                    {% if section.settings.widgetext2  != blank %}
                        <li><svg xmlns="http://www.w3.org/2000/svg" width="17.627" height="17.627" viewBox="0 0 17.627 17.627" aria-hidden="true" role="presentation" class="svgcolor w-3 h-3 mr-1 text-green-400"><g transform="translate(-16.457 -24.531)"><circle id="Ellipse_46" data-name="Ellipse 46" cx="7.5" cy="7.5" r="7.5" transform="translate(17.788 26.154)" fill="#fff"></circle><path id="noun_tick_684585" d="M15.413 6.6a8.813 8.813.0 1 0 8.813 8.813A8.805 8.805.0 0 0 15.413 6.6zm4.265 6.986-5.219 5.2a.8.8.0 0 1-.569.244.768.768.0 0 1-.569-.244l-2.579-2.559A.818.818.0 1 1 11.9 15.068l1.99 1.99 4.63-4.63a.809.809.0 0 1 1.158.0A.847.847.0 0 1 19.678 13.586z" transform="translate(9.857 17.931)" fill="currentColor"></path></g></svg>{{ section.settings.widgetext2 }}</li>
                    {% endif %}
                    {% if section.settings.widgetext3  != blank %}
                        <li><svg xmlns="http://www.w3.org/2000/svg" width="17.627" height="17.627" viewBox="0 0 17.627 17.627" aria-hidden="true" role="presentation" class="svgcolor w-3 h-3 mr-1 text-green-400"><g transform="translate(-16.457 -24.531)"><circle id="Ellipse_46" data-name="Ellipse 46" cx="7.5" cy="7.5" r="7.5" transform="translate(17.788 26.154)" fill="#fff"></circle><path id="noun_tick_684585" d="M15.413 6.6a8.813 8.813.0 1 0 8.813 8.813A8.805 8.805.0 0 0 15.413 6.6zm4.265 6.986-5.219 5.2a.8.8.0 0 1-.569.244.768.768.0 0 1-.569-.244l-2.579-2.559A.818.818.0 1 1 11.9 15.068l1.99 1.99 4.63-4.63a.809.809.0 0 1 1.158.0A.847.847.0 0 1 19.678 13.586z" transform="translate(9.857 17.931)" fill="currentColor"></path></g></svg>{{ section.settings.widgetext3 }}</li>
                    {% endif %}
                </ul>
                </div>
                <div class="distext">
                <ul>
                    {% if section.settings.widgetext4  != blank %}
                        <li><svg xmlns="http://www.w3.org/2000/svg" width="17.627" height="17.627" viewBox="0 0 17.627 17.627" aria-hidden="true" role="presentation" class="svgcolor w-3 h-3 mr-1 text-green-400"><g transform="translate(-16.457 -24.531)"><circle id="Ellipse_46" data-name="Ellipse 46" cx="7.5" cy="7.5" r="7.5" transform="translate(17.788 26.154)" fill="#fff"></circle><path id="noun_tick_684585" d="M15.413 6.6a8.813 8.813.0 1 0 8.813 8.813A8.805 8.805.0 0 0 15.413 6.6zm4.265 6.986-5.219 5.2a.8.8.0 0 1-.569.244.768.768.0 0 1-.569-.244l-2.579-2.559A.818.818.0 1 1 11.9 15.068l1.99 1.99 4.63-4.63a.809.809.0 0 1 1.158.0A.847.847.0 0 1 19.678 13.586z" transform="translate(9.857 17.931)" fill="currentColor"></path></g></svg>{{ section.settings.widgetext4 }}</li>
                    {% endif %}
                    {% if section.settings.widgetext5  != blank %}
                        <li><svg xmlns="http://www.w3.org/2000/svg" width="17.627" height="17.627" viewBox="0 0 17.627 17.627" aria-hidden="true" role="presentation" class="svgcolor w-3 h-3 mr-1 text-green-400"><g transform="translate(-16.457 -24.531)"><circle id="Ellipse_46" data-name="Ellipse 46" cx="7.5" cy="7.5" r="7.5" transform="translate(17.788 26.154)" fill="#fff"></circle><path id="noun_tick_684585" d="M15.413 6.6a8.813 8.813.0 1 0 8.813 8.813A8.805 8.805.0 0 0 15.413 6.6zm4.265 6.986-5.219 5.2a.8.8.0 0 1-.569.244.768.768.0 0 1-.569-.244l-2.579-2.559A.818.818.0 1 1 11.9 15.068l1.99 1.99 4.63-4.63a.809.809.0 0 1 1.158.0A.847.847.0 0 1 19.678 13.586z" transform="translate(9.857 17.931)" fill="currentColor"></path></g></svg>{{ section.settings.widgetext5 }}</li>
                    {% endif %}
                </ul>
                </div>
            </div>
            </div>
        {% endif  %}
        {% if section.settings.widgetlabel2 != blank %}
            <div class="subscriptionlabel sub-align" data-value="{{ section.settings.widgetlabel2 | downcase }}">
            <div class="subscribename onetimeOption">
                {{ section.settings.widgetlabel2 }}
            </div>
            </div>
        {% endif %}
      </div>
    </div>
    <div class="deliverybox hide">
    {% if section.settings.deliverylabel  != blank %} <span>{{ section.settings.deliverylabel }}</span>{% endif %}
    {% if section.settings.deliveryin15days  != blank %}   
      <select>
        <option>{{ section.settings.deliveryin15days }}</option>
        {% if section.settings.deliveryin30days  != blank %} <option>{{ section.settings.deliveryin30days }}</option>{% endif %}
      </select>
    {% endif %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Subscription widget",
    "class": "subscription-widget",
    "settings": [
      {
        "type": "header",
        "content": "t:local-march-update.labels.heading"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.local-extra-words.sections.headings.heading",
        "default": "Get your meats now"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "t:sections.local-extra-words.sections.headings.subheading",
        "default": "We guarantee you'll love it or your money back !"
      },
      {
        "type": "select",
        "id": "section_heading_layout",
        "label": "t:sections.rich-text.settings.text_alignment.label",
        "options": [
          {
            "value": "section-heading--left",
            "label": "t:sections.rich-text.settings.text_alignment.options__1.label"
          }, {
            "value": "section-heading--center",
            "label": "t:sections.rich-text.settings.text_alignment.options__2.label"
          }
        ],
        "default": "section-heading--center"
      }, {
        "type": "text",
        "id": "widgetheading",
        "label": "Text",
        "default": "Select frequency"
      }, {
        "type": "text",
        "id": "widgetlabel1",
        "label": "Label",
        "default": "Subscribe & Save"
      }, {
        "type": "text",
        "id": "widgetlabel2",
        "label": "Label",
        "default": "One Time"
      }, {
        "type": "text",
        "id": "widgetext1",
        "label": "Text1",
        "default": "Save 25% on your first order "
      }, {
        "type": "text",
        "id": "widgetext2",
        "label": "Text2",
        "default": "$15 Off First Order"
      }, {
        "type": "text",
        "id": "widgetext3",
        "label": "Text3",
        "default": "$4 Off Future Orders"
      }, {
        "type": "text",
        "id": "widgetext4",
        "label": "Text4",
        "default": "5 Day Email Reminder - Cancel Anytime"
      }, {
        "type": "text",
        "id": "widgetext5",
        "label": "Text5",
        "default": "Free New Flavor with Every Box"
      }, {
        "type": "text",
        "id": "deliverylabel",
        "label": "Delivery label",
        "default": "Delivery"
      }, {
        "type": "text",
        "id": "deliveryin15days",
        "label": "Delivery value",
        "default": "Delivery every 15 Days"
      }, {
        "type": "text",
        "id": "deliveryin30days",
        "label": "Delivery value",
        "default": "Delivery every 30 Days"
      },
       {
        "type": "select",
        "id": "seo_h_tag",
        "label": "t:sections.refactor_words.seo.label",
        "info": "t:sections.refactor_words.seo.info",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          }, {
            "value": "span",
            "label": "span"
          }
        ],
        "default": "h2"
      },
      {
        "type": "checkbox",
        "id": "remove_margin",
        "label": "t:sections.local-extra-words.sections.rich-text.settings.remove_margin.label",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Subscription widget"
      }
    ]
  }
{% endschema %}